.list-group-item.report
  .row
    .col-md-12
      p.lead
        a(href='/reports/#{report._id}')
          strong
            =report.month
          - if (currentUser.admin)
            | &nbsp;
            =gettext('reported for')
            | &nbsp;
            strong
              =report.country
            =' (' + report.username + ')'
      p=report.lede
