.list-group-item.report
  .row
    .col-md-12
      p.lead
        a(href='/reports/#{report._id}')
          =report.month
          - if (currentUser.admin)
            | &nbsp;
            =gettext('reported by')
            | &nbsp;
            =report.username
      p=report.lede
