extends layout

block content
  .container
    .row
      .col-md-12
        .alert.alert-info=format('There are %s users from %s countries tracking %s URLs.', [userCount, countryCount, pageCount])
        div
          a.btn.btn-default.btn-block(href='/users')=gettext("Manage Users")
