extends layout

block content
  .container
    .row
      .col-md-12
        .alert.alert-info
          | There are #{userCount} users from #{countryCount} countries tracking #{pageCount} URLs.
        div
          a.btn.btn-default(href='/users') Manage Users
