extends layout

block content
  .container
    .row
      .col-md-12
        .alert.alert-info=format('There are %d users from %d countries tracking %d URLs.', userCount, countryCount, pageCount)
        div
          a.btn.btn-default(href='/users')=gettext("Manage Users")
