extends layout

block content
  .container
    .row
      .panel.panel-primary
        .panel-heading 
          h2.panel-title=gettext('Documents')
        .list-group
          - each doc in docs
            include _doc
        - if (!user.admin)
          .panel-footer
            .row
              .col-md-12
                a.btn.btn-default(href='/documents/new')=gettext("Add Document")
