extends layout

block content
  .container
    .row
      .col-md-12
        .jumbotron
          .container
            h1 Aquarium
            p 
              =gettext("This website is for")
              |  
              a(href="http://internationalbudget.org/what-we-do/open-budget-survey")=gettext("the IBP's Open Budget Survey")
              |  
              =gettext("researchers to track the public availability of the eight key budget documents in their own countries, and to have an overview of the documents’ publication around the world.")
            p
              a.btn.btn-primary.btn-lg(href='/overview')=gettext("See how countries are doing")
