extends layout

block content
  .container
    .row
      .col-md-12
        .jumbotron
          .container
            h1=gettext("IBP's Open Budget Survey Tracker")
            p 
              =gettext("On this website")
              |  
              a(href="http://internationalbudget.org/what-we-do/open-budget-survey")=gettext("IBP's Open Budget Survey")
              |  
              =gettext("researchers can track the public availability of the eight key budget documents in their own country on an ongoing basis. By providing near real time data on the public availability of budget documents researchers, media, donors, and government officials will have access to a timely overview of basic budget transparency in countries around the world. While this data will not tell the whole story of how open and accountable the countries' budget systems are, it will help to identify where governments are taking steps to improve public access to budget information and where they are failing to do so.")
            p
              a.btn.btn-primary.btn-lg(href='/overview')=gettext("See how countries are doing")
