doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/css/style.css')
  body
    header.navbar.navbar-inverse.navbar-fixed-top(role='banner')
      .container
        .navbar-header
          button.navbar-toggle(type='button', data-toggle='collapse', data-target='.bs-navbar-collapse')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href='/') Aquarium
        nav.collapse.navbar-collapse.bs-navbar-collapse.navbar-left(role='navigation')
          ul.nav.navbar-nav
            - if (user) 
              - if (user.admin)
                li
                  a(href='/dashboard') Dashboard
              - else
                li
                  a(href='/sites') Sites
        nav.collapse.navbar-collapse.bs-navbar-collapse.navbar-right
          ul.nav.navbar-nav
            li
              - if (user) 
                form.navbar-form(method='POST', action='/logout')
                  button.btn.btn-link(type="submit") Logout
              - else if (!isLogin)
                a(href='/login') Login
    block content
    script(src="/js/jquery-2.0.3.min.js")
    script(src="/js/bootstrap.js")
