extends layout

block content
  .container
    .row
      .col-md-12
        form(role='form')
          .form-group
            label
              | Email address
              input.form-control(type='email', placeholder='Enter email')
            .form-group
              label
                | Password
                input.form-control(type='password', placeholder='Password')
            button.btn.btn-primary(type='submit') Login

