extends layout

block content
  .container
    .row
      .col-md-12
        form(role='form', action='/users', method='POST')
          .form-group
              label Email address
              input.form-control(name='username', type='email', placeholder='email@example.com', autofocus=true, autocomplete='off')
          .form-group
              label Name
              input.form-control(name='name', type='text', placeholder='Name', autocomplete='off')
          .form-group
              label Country
              select.form-control(name='country')
                option(value="AF - Afghanistan") Afghanistan
                option(value="AL - Albania") Albania
                option(value="DZ - Algeria") Algeria
                option(value="AS - American Samoa") American Samoa
                option(value="AD - Andorra") Andorra
                option(value="AO - Angola") Angola
                option(value="AI - Anguilla") Anguilla
                option(value="AQ - Antarctica") Antarctica
                option(value="AG - Antigua and Barbuda") Antigua and Barbuda
                option(value="AR - Argentina") Argentina
                option(value="AM - Armenia") Armenia
                option(value="AW - Aruba") Aruba
                option(value="AU - Australia") Australia
                option(value="AT - Austria") Austria
                option(value="AZ - Azerbaijan") Azerbaijan
                option(value="BS - Bahamas") Bahamas
                option(value="BH - Bahrain") Bahrain
                option(value="BD - Bangladesh") Bangladesh
                option(value="BB - Barbados") Barbados
                option(value="BY - Belarus") Belarus
                option(value="BE - Belgium") Belgium
                option(value="BZ - Belize") Belize
                option(value="BJ - Benin") Benin
                option(value="BM - Bermuda") Bermuda
                option(value="BT - Bhutan") Bhutan
                option(value="BO - Bolivia") Bolivia
                option(value="BA - Bosnia and Herzegovina") Bosnia and Herzegovina
                option(value="BW - Botswana") Botswana
                option(value="BV - Bouvet Island") Bouvet Island
                option(value="BR - Brazil") Brazil
                option(value="BQ - British Antarctic Territory") British Antarctic Territory
                option(value="IO - British Indian Ocean Territory") British Indian Ocean Territory
                option(value="VG - British Virgin Islands") British Virgin Islands
                option(value="BN - Brunei") Brunei
                option(value="BG - Bulgaria") Bulgaria
                option(value="BF - Burkina Faso") Burkina Faso
                option(value="BI - Burundi") Burundi
                option(value="KH - Cambodia") Cambodia
                option(value="CM - Cameroon") Cameroon
                option(value="CA - Canada") Canada
                option(value="CT - Canton and Enderbury Islands") Canton and Enderbury Islands
                option(value="CV - Cape Verde") Cape Verde
                option(value="KY - Cayman Islands") Cayman Islands
                option(value="CF - Central African Republic") Central African Republic
                option(value="TD - Chad") Chad
                option(value="CL - Chile") Chile
                option(value="CN - China") China
                option(value="CX - Christmas Island") Christmas Island
                option(value="CC - Cocos [Keeling] Islands") Cocos [Keeling] Islands
                option(value="CO - Colombia") Colombia
                option(value="KM - Comoros") Comoros
                option(value="CG - Congo - Brazzaville") Congo - Brazzaville
                option(value="CD - Congo - Kinshasa") Congo - Kinshasa
                option(value="CK - Cook Islands") Cook Islands
                option(value="CR - Costa Rica") Costa Rica
                option(value="HR - Croatia") Croatia
                option(value="CU - Cuba") Cuba
                option(value="CY - Cyprus") Cyprus
                option(value="CZ - Czech Republic") Czech Republic
                option(value="CI - Côte d’Ivoire") Côte d’Ivoire
                option(value="DK - Denmark") Denmark
                option(value="DJ - Djibouti") Djibouti
                option(value="DM - Dominica") Dominica
                option(value="DO - Dominican Republic") Dominican Republic
                option(value="NQ - Dronning Maud Land") Dronning Maud Land
                option(value="DD - East Germany") East Germany
                option(value="EC - Ecuador") Ecuador
                option(value="EG - Egypt") Egypt
                option(value="SV - El Salvador") El Salvador
                option(value="GQ - Equatorial Guinea") Equatorial Guinea
                option(value="ER - Eritrea") Eritrea
                option(value="EE - Estonia") Estonia
                option(value="ET - Ethiopia") Ethiopia
                option(value="FK - Falkland Islands") Falkland Islands
                option(value="FO - Faroe Islands") Faroe Islands
                option(value="FJ - Fiji") Fiji
                option(value="FI - Finland") Finland
                option(value="FR - France") France
                option(value="GF - French Guiana") French Guiana
                option(value="PF - French Polynesia") French Polynesia
                option(value="TF - French Southern Territories") French Southern Territories
                option(value="FQ - French Southern and Antarctic Territories") French Southern and Antarctic Territories
                option(value="GA - Gabon") Gabon
                option(value="GM - Gambia") Gambia
                option(value="GE - Georgia") Georgia
                option(value="DE - Germany") Germany
                option(value="GH - Ghana") Ghana
                option(value="GI - Gibraltar") Gibraltar
                option(value="GR - Greece") Greece
                option(value="GL - Greenland") Greenland
                option(value="GD - Grenada") Grenada
                option(value="GP - Guadeloupe") Guadeloupe
                option(value="GU - Guam") Guam
                option(value="GT - Guatemala") Guatemala
                option(value="GG - Guernsey") Guernsey
                option(value="GN - Guinea") Guinea
                option(value="GW - Guinea-Bissau") Guinea-Bissau
                option(value="GY - Guyana") Guyana
                option(value="HT - Haiti") Haiti
                option(value="HM - Heard Island and McDonald Islands") Heard Island and McDonald Islands
                option(value="HN - Honduras") Honduras
                option(value="HK - Hong Kong SAR China") Hong Kong SAR China
                option(value="HU - Hungary") Hungary
                option(value="IS - Iceland") Iceland
                option(value="IN - India") India
                option(value="ID - Indonesia") Indonesia
                option(value="IR - Iran") Iran
                option(value="IQ - Iraq") Iraq
                option(value="IE - Ireland") Ireland
                option(value="IM - Isle of Man") Isle of Man
                option(value="IL - Israel") Israel
                option(value="IT - Italy") Italy
                option(value="JM - Jamaica") Jamaica
                option(value="JP - Japan") Japan
                option(value="JE - Jersey") Jersey
                option(value="JT - Johnston Island") Johnston Island
                option(value="JO - Jordan") Jordan
                option(value="KZ - Kazakhstan") Kazakhstan
                option(value="KE - Kenya") Kenya
                option(value="KI - Kiribati") Kiribati
                option(value="KW - Kuwait") Kuwait
                option(value="KG - Kyrgyzstan") Kyrgyzstan
                option(value="LA - Laos") Laos
                option(value="LV - Latvia") Latvia
                option(value="LB - Lebanon") Lebanon
                option(value="LS - Lesotho") Lesotho
                option(value="LR - Liberia") Liberia
                option(value="LY - Libya") Libya
                option(value="LI - Liechtenstein") Liechtenstein
                option(value="LT - Lithuania") Lithuania
                option(value="LU - Luxembourg") Luxembourg
                option(value="MO - Macau SAR China") Macau SAR China
                option(value="MK - Macedonia") Macedonia
                option(value="MG - Madagascar") Madagascar
                option(value="MW - Malawi") Malawi
                option(value="MY - Malaysia") Malaysia
                option(value="MV - Maldives") Maldives
                option(value="ML - Mali") Mali
                option(value="MT - Malta") Malta
                option(value="MH - Marshall Islands") Marshall Islands
                option(value="MQ - Martinique") Martinique
                option(value="MR - Mauritania") Mauritania
                option(value="MU - Mauritius") Mauritius
                option(value="YT - Mayotte") Mayotte
                option(value="FX - Metropolitan France") Metropolitan France
                option(value="MX - Mexico") Mexico
                option(value="FM - Micronesia") Micronesia
                option(value="MI - Midway Islands") Midway Islands
                option(value="MD - Moldova") Moldova
                option(value="MC - Monaco") Monaco
                option(value="MN - Mongolia") Mongolia
                option(value="ME - Montenegro") Montenegro
                option(value="MS - Montserrat") Montserrat
                option(value="MA - Morocco") Morocco
                option(value="MZ - Mozambique") Mozambique
                option(value="MM - Myanmar [Burma]") Myanmar [Burma]
                option(value="NA - Namibia") Namibia
                option(value="NR - Nauru") Nauru
                option(value="NP - Nepal") Nepal
                option(value="NL - Netherlands") Netherlands
                option(value="AN - Netherlands Antilles") Netherlands Antilles
                option(value="NT - Neutral Zone") Neutral Zone
                option(value="NC - New Caledonia") New Caledonia
                option(value="NZ - New Zealand") New Zealand
                option(value="NI - Nicaragua") Nicaragua
                option(value="NE - Niger") Niger
                option(value="NG - Nigeria") Nigeria
                option(value="NU - Niue") Niue
                option(value="NF - Norfolk Island") Norfolk Island
                option(value="KP - North Korea") North Korea
                option(value="VD - North Vietnam") North Vietnam
                option(value="MP - Northern Mariana Islands") Northern Mariana Islands
                option(value="NO - Norway") Norway
                option(value="OM - Oman") Oman
                option(value="PC - Pacific Islands Trust Territory") Pacific Islands Trust Territory
                option(value="PK - Pakistan") Pakistan
                option(value="PW - Palau") Palau
                option(value="PS - Palestinian Territories") Palestinian Territories
                option(value="PA - Panama") Panama
                option(value="PZ - Panama Canal Zone") Panama Canal Zone
                option(value="PG - Papua New Guinea") Papua New Guinea
                option(value="PY - Paraguay") Paraguay
                option(value="YD - People's Democratic Republic of Yemen") People's Democratic Republic of Yemen
                option(value="PE - Peru") Peru
                option(value="PH - Philippines") Philippines
                option(value="PN - Pitcairn Islands") Pitcairn Islands
                option(value="PL - Poland") Poland
                option(value="PT - Portugal") Portugal
                option(value="PR - Puerto Rico") Puerto Rico
                option(value="QA - Qatar") Qatar
                option(value="RO - Romania") Romania
                option(value="RU - Russia") Russia
                option(value="RW - Rwanda") Rwanda
                option(value="RE - Réunion") Réunion
                option(value="BL - Saint Barthélemy") Saint Barthélemy
                option(value="SH - Saint Helena") Saint Helena
                option(value="KN - Saint Kitts and Nevis") Saint Kitts and Nevis
                option(value="LC - Saint Lucia") Saint Lucia
                option(value="MF - Saint Martin") Saint Martin
                option(value="PM - Saint Pierre and Miquelon") Saint Pierre and Miquelon
                option(value="VC - Saint Vincent and the Grenadines") Saint Vincent and the Grenadines
                option(value="WS - Samoa") Samoa
                option(value="SM - San Marino") San Marino
                option(value="SA - Saudi Arabia") Saudi Arabia
                option(value="SN - Senegal") Senegal
                option(value="RS - Serbia") Serbia
                option(value="CS - Serbia and Montenegro") Serbia and Montenegro
                option(value="SC - Seychelles") Seychelles
                option(value="SL - Sierra Leone") Sierra Leone
                option(value="SG - Singapore") Singapore
                option(value="SK - Slovakia") Slovakia
                option(value="SI - Slovenia") Slovenia
                option(value="SB - Solomon Islands") Solomon Islands
                option(value="SO - Somalia") Somalia
                option(value="ZA - South Africa") South Africa
                option(value="GS - South Georgia and the South Sandwich Islands") South Georgia and the South Sandwich Islands
                option(value="KR - South Korea") South Korea
                option(value="ES - Spain") Spain
                option(value="LK - Sri Lanka") Sri Lanka
                option(value="SD - Sudan") Sudan
                option(value="SR - Suriname") Suriname
                option(value="SJ - Svalbard and Jan Mayen") Svalbard and Jan Mayen
                option(value="SZ - Swaziland") Swaziland
                option(value="SE - Sweden") Sweden
                option(value="CH - Switzerland") Switzerland
                option(value="SY - Syria") Syria
                option(value="ST - São Tomé and Príncipe") São Tomé and Príncipe
                option(value="TW - Taiwan") Taiwan
                option(value="TJ - Tajikistan") Tajikistan
                option(value="TZ - Tanzania") Tanzania
                option(value="TH - Thailand") Thailand
                option(value="TL - Timor-Leste") Timor-Leste
                option(value="TG - Togo") Togo
                option(value="TK - Tokelau") Tokelau
                option(value="TO - Tonga") Tonga
                option(value="TT - Trinidad and Tobago") Trinidad and Tobago
                option(value="TN - Tunisia") Tunisia
                option(value="TR - Turkey") Turkey
                option(value="TM - Turkmenistan") Turkmenistan
                option(value="TC - Turks and Caicos Islands") Turks and Caicos Islands
                option(value="TV - Tuvalu") Tuvalu
                option(value="UM - U.S. Minor Outlying Islands") U.S. Minor Outlying Islands
                option(value="PU - U.S. Miscellaneous Pacific Islands") U.S. Miscellaneous Pacific Islands
                option(value="VI - U.S. Virgin Islands") U.S. Virgin Islands
                option(value="UG - Uganda") Uganda
                option(value="UA - Ukraine") Ukraine
                option(value="SU - Union of Soviet Socialist Republics") Union of Soviet Socialist Republics
                option(value="AE - United Arab Emirates") United Arab Emirates
                option(value="GB - United Kingdom") United Kingdom
                option(value="US - United States") United States
                option(value="ZZ - Unknown or Invalid Region") Unknown or Invalid Region
                option(value="UY - Uruguay") Uruguay
                option(value="UZ - Uzbekistan") Uzbekistan
                option(value="VU - Vanuatu") Vanuatu
                option(value="VA - Vatican City") Vatican City
                option(value="VE - Venezuela") Venezuela
                option(value="VN - Vietnam") Vietnam
                option(value="WK - Wake Island") Wake Island
                option(value="WF - Wallis and Futuna") Wallis and Futuna
                option(value="EH - Western Sahara") Western Sahara
                option(value="YE - Yemen") Yemen
                option(value="ZM - Zambia") Zambia
                option(value="ZW - Zimbabwe") Zimbabwe
                option(value="AX - Åland Islands") Åland Islands
          .form-group
            label Password
            input.form-control(name='password', type='password', placeholder='Password')
          .form-group
            label Confirm Password
            input.form-control(name='confirm', type='password', placeholder='Confirm password')
          button.btn.btn-primary(type='submit') Create User
          a.btn.btn-link(href='/users') Cancel
