extends layout

block content
  .container
    p
      a.btn.btn-default(href='/reports')
        i.glyphicon.glyphicon-chevron-left
        | &nbsp;
        =gettext('Back')
    .row
      .col-md-12
        p.lead=report.month
        .content!=report.content
        p
          | &mdash;
          | &nbsp;
          a(href='/users/#{report.user_id}')
            =report.username

