@import "bootstrap/bootstrap.less";

body {
    margin: 70px 0 30px;
}

.navbar .btn-link {
    color: #999999;
    &:hover {
        text-decoration: none;
    }
}

.list-group-item-heading {
    a:hover {
        text-decoration: none;
    }
    i.glyphicon {
        padding: 0 0 0.3em;
        vertical-align: middle;
    }
}
