@import "bootstrap/bootstrap.less";
@import "datepicker.less";

body {
    margin: 70px 0 30px;
    &.missing {
        background-image: url('/images/404.jpg');
        background-size: cover;
        background-repeat: no-repeat;
    }
}

.navbar .btn-link {
    color: #999999;
    &:hover {
        text-decoration: none;
    }
}

.list-group-item-heading {
    a:hover {
        text-decoration: none;
    }
    i.glyphicon {
        padding: 0 0 0.3em;
        vertical-align: middle;
    }
}

input[type="file"] {
    padding: 1em;
    height: auto;
    cursor: pointer;
}

.btn-form {
    display: inline-block;
    margin: 0 5px 0 0;
}

.missing h1 {
    text-align: center;
    font-size: 6em;
    line-height: 2;
    color: rgba(255,255,255,0.8);
    text-shadow: 5px 5px 5px rgba(0,0,0,0.5);
}

.errors {
    margin: 20px 0;
}

.picker .input-group {
    width: 140px;
}

.doc h3 {
    margin-top: 0;
}

.roomy {
    padding: 10px 0 20px;
}
